html {
    font-size: 1rem;
}


/*css del autocompletado!*/

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

h4 {
    color: #034738;
    font-size: x-small;
}

h3 {
    color: #eeb902;
    font-size: large;
}

footer {
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: #b4edd2;
    text-align: center;
}

#buscador {
    position: relative;
    background-color: #034748;
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container>div {
    width: 100%;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    background-color: #b4edd2;
    margin: 0px 10px;
}

.container>img {
    width: 50px;
}