html {
    font-size: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    height: 200px;
}


/*css del autocompletado!*/

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.flex-container>div>h4 {
    color: #bbdf1e;
    font-size: 10px;
}